:root {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  display: flex;
}

// typography
h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.45rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.7rem;
  font-weight: 500;
}

h5 {
  font-size: 1.425rem;
  font-weight: 500
}

h6 {
  font-size: 1.2rem;
  font-weight: 500;
}

small {
  font-size: 0.8rem;
}

// HTML tags
main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  padding: 10px 0;
  width: 90%;
  max-width: 1600px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
  overflow-x: hidden;
  position: relative;
}

body::before {
  z-index: -10;
  top: 0;
  content: '';
  height: 100%;
  max-height: fit-content;
  width: 100%;
  position: absolute;
  filter: blur(2px);
  background-repeat: repeat;
}

// id
#__nuxt {
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--color-almond);
}
