:root {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}

body::before {
  z-index: -10;
  top: 0;
  content: '';
  min-height: 100%;
  width: 100%;
  position: absolute;
  filter: blur(2px);
}
