@import 'tailwindcss';
@theme {

  /* browns */
  --color-espresso: #362a20;


  /* white/neutrals */
  --color-beige: #eed9c4;

  /* breakpoints */
  --breakpoint-tablet : 720px;
  --breakpoint-desktop: 1280px;
  --breakpoint-2k: 1921px;

}

@layer components {
  .btn-base {
    @apply px-4 py-2 flex justify-center items-center cursor-pointer
  }
}
